

<% if member_signed_in? %>
<h1>List of songs</h1>

<class="btn-default"><%= button_to "Recently played", list_index_path %>
<br>
<class="btn-default"><%= button_to "Most played", timetable_index_path %> 

<hr>
<table class="table table-hover">
	<tr><td><b>Songname</b></td>
	<td><b>Artist</b></td>
	<td><b>Album</b></td>
	<td><b>Duration</b></td>
	<td><b>Playnow</b></td>
	<td><b>Favorite</b></td></tr>

	
<% @songs.each do |a| %>
<tr>
<td ><%= a.songname %></td>
<td ><%= a.artist %></td>
<td > <%= a.album %></td>
<td ><%= a.duration %></td>
<td class="btn-default"><%= button_to "Play", song_play_path(foo: a.id) %></td>
<td class="warning"><%= radio_button :autolyse, false, :checked => true %></td>
</tr>

<% end %>
</table>
<% else %>

<h2><em>Please login or signup</em></h2>
<% end %>
